*{
    margin: 0;
    padding: 0;
  }
  section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #3586ff;
    overflow: hidden;
  }
  section .air{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
  }
  section .air.air1{
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  section .air.air2{
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
  section .air.air3{
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
  }
  section .air.air4{
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }
  @keyframes wave{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: 1000px; 
    }
  }
  @keyframes wave2{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: -1000px; 
    }
  }
  
element.style {
}
user agent stylesheet
div {
    display: block;
}
body {
    color: #97ded1;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}


.display-5{
color: white; 
   font-size:4rem;
    margin: 50px auto 0 auto;
    font-family: Segoe Script;
}
.d-block{
    position: absolute;
    left: 10;
    border-radius: 52%;
}
p{
  color:white;
  font-family: Segoe UI;
  margin-top: 5px;
}
.photo{
  height: 150px;
  width: auto;
  border-radius: 50%;
  margin-bottom: 9px;
}
.text{
  display: inline-block;
  width: 200px;
  border-radius: 5px;
  background-color: aliceblue;
  color: black;
  padding: 5px;
  
  
}
.row {
  margin-top: 20px;
  border-color: white;
  border-style: solid;
 border:5px 5px 5px 5px ;
}
h2{
  font-style: "serif", modern;
}
.hanging-icons{
  background-color: white;
}
.Resume h2{
  color: black;
}
.background
{
  background-color: white;
}
#footer{
  height: 50%;
}
.res{
  height: 50%
}